<h2>Search for item</h2>

<form action="/navigator/results" method="POST">
  <label>Search for item by name: </label>
  <input name="name" type="text"  />
  <input type="submit" value="Search"  />
  <button><a href="/navigator">Cancel</a></button>
</form>
