<!DOCTYPE html>
<html>
<head>
  <title>Tacta</title>
  <link rel="stylesheet" href="<%= url('../public/app.css') %>" type="text/css"/>
</head>
<body>

  <h1>Kiosk Fresh</h1>
  <hr />
  <%= yield %>

</body>
</html>
